@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to Dotnet CI/CD";
}

<div class="text-center">
    <h1 class="display-4">Demo Dotnet</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
